


.navbar {
  overflow: hidden;
  background-color: var(--color-primary-dark);
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: var(--color-light);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background:var(--color-primary);
  color: black;
}

.nav-title{
  float: left;
  display: block;
  color: var(--color-light);
  text-align: center;
  margin-left: .5em;
  text-decoration: none;
}